@model BankManagementSystemVersionFinal1.Models.Transfer

@{
    ViewData["Title"] = "Create";
}

<h1>Create Transfer</h1>

<h4>Transfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SenderId" class="control-label">Account ID</label>
                <input asp-for="SenderId" class="form-control" readonly />
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="ReceiverId" class="control-label">Receiver Account ID</label>
                <input asp-for="ReceiverId" class="form-control"/>
                <span asp-validation-for="ReceiverId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Client" asp-action="Details" asp-route-id="@Model.Sender.AccountHolder.CustomerId">retour</a>

</div>
